.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 32px;
  align-items: start;
}

.contentWithGoalWidget {
  margin-bottom: 48px;
}

@media (max-width: 768px) {
  .content {
    grid-template-columns: 1fr;
  }
}

.leftColumn {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.rightColumn {
  height: 100%;
}
