.widget {
  background-color: var(--color-accent-bg);
  border-radius: var(--border-radius-lg);
  padding: 32px;
  text-align: center;
}

.title {
  font-size: 36px;
  font-family: "FixelDisplay", "FixelText", "sans-serif";
  font-weight: 600;
  margin-bottom: 16px;
  color: var(--color-text);
}

.description {
  max-width: 480px;
  margin-bottom: 16px;
  font-size: 18px;
  color: var(--color-text-secondary);
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-bottom: 32px;
}

.progress {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.progressText {
  font-size: 18px;
  color: var(--color-text-secondary);
}
