.bouncingOrbContainer {
  display: inline-block;
}

.animatedGroup {
  animation: bounce 2s ease-in-out infinite;
  transform-origin: center;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
  50% {
    transform: translateY(-16px);
    opacity: 0.48;
  }
}
