:root {
  --color-primary: #087443;
  --color-primary-hover: #0a653f;
  --color-background: #fff;
  --color-surface: #ffffff;
  --color-text: #101828;
  --color-gray: #475467;
  --color-text-secondary: #667085;
  --color-text-tertiary: #c7c6cb;
  --color-border: #d0d5dd;
  --color-border-accent: #73e2a3;
  --color-accent-bg: #edfcf2;
  --font-family: "FixelText", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  --border-radius: 8px;
  --border-radius-lg: 12px;
  --shadow-regular: 0px 1px 2px 0px rgba(16, 24, 40, 0.05);
  --shadow-success: 0px 0px 0px 4px #d3f8df;
  --shadow-error: 0px 0px 0px 4px #fee4e2;
  --transition: 150ms ease;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: var(--font-family);
  background-color: var(--color-background);
  color: var(--color-text);
  line-height: 1.5;
  min-height: 100vh;
}

#root {
  min-height: 100vh;
  max-width: 1120px;
  margin: 0 auto;
  padding: 32px 0 120px 0;
}

a {
  color: inherit;
  text-decoration: none;
}

button {
  font-family: inherit;
  cursor: pointer;
  border: none;
  background: none;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
}
